.html.body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
h1, h3{
  font-weight: 700 !important;
}
.Titre {
  margin: 2rem;
  text-align: center;
  color: #ffffff;
}

.card {
  text-align: center;
  margin: auto;
}

.search {
  color: white;
  border-color: white;
}

.search:hover {
  border-color: white;
}

.searchform{
  margin: auto 0;
}

.groupec {
  text-decoration: none;
}

.signout-btn {
  border-radius: 0.375rem;
  border: 2px solid #9575ba;
  padding: .5vw;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all .3s ease-in-out;
}



.signout-btn:hover {
  color: aliceblue;
  transition: all .3s ease-in-out;
  border-color: #592d8a;
  background: #592d8a;
}

.friends-btn {
  border-radius: 0.375rem;
  border: 2px solid #9575ba;
  padding: .5vw;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all .3s ease-in-out;
}

.friends-btn:hover {
  color: aliceblue;
  transition: all .3s ease-in-out;
  border-color: #592d8a;
  background: #592d8a;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:992px) {
  .signout-btn {
    margin-left: 0;
    padding: 0;
    border: none;
  }

  .signout-btn:hover {
    background: none;
  }

  .friends-btn {
    margin-left: 0;
    padding: 0;
    border: none;
  }

  .friends-btn:hover {
    background: none;
  }

  .d-flex {
    margin-bottom: 16px;
  }
}


/* The Modal (background) */
.modal_user {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #664C8F;
  margin: auto;
  padding: 10px;
  width: 40%;
}

.modal-content > *{
  margin-top: 5px;
}

.modal-content ol li {
  color: white;
}

.modal-content p {
  width: 90%;
  height: 90%;
  color: white;
}

.CommImg{
  background: #fff;
  border-radius: 50% 50% 0 0;
  justify-content: center;
}

@media screen and (max-width: 991px){
  .CommImg{
    width: 6.5vw !important;
    
  }

  .list-group-item{
    font-size: 1.5vw !important;
  }

  .list-title{
    font-size: 2.2vw !important;
  }
}

.list-group-item-margin{
  margin: 0.8vw 0;
}

.list-bottom{
  height:13vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title{
  font-size: 1.2vw;
}

/* 
.group-name{
  margin-top: 1vw;
} */