.html.body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
h1, h3{
  font-weight: 600 !important;
}
.Titre {
  margin: 2rem;
  text-align: center;
  color: #ffffff;
}

.card {
  text-align: center;
  margin: auto;
}

.search {
  color: white;
  border-color: white;
}

.search:hover {
  border-color: white;
}

.searchform{
  margin: auto 0;
}

.groupec {
  text-decoration: none;
}

.signout-btn {
  border-radius: 0.375rem;
  border: 2px solid #9575ba;
  padding: .5vw;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all .3s ease-in-out;
}



.signout-btn:hover {
  color: aliceblue;
  transition: all .3s ease-in-out;
  border-color: #592d8a;
  background: #592d8a;
}

.friends-btn {
  border-radius: 0.375rem;
  border: 2px solid #9575ba;
  padding: .5vw;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all .3s ease-in-out;
}

.friends-btn:hover {
  color: aliceblue;
  transition: all .3s ease-in-out;
  border-color: #592d8a;
  background: #592d8a;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:992px) {
  .signout-btn {
    margin-left: 0;
    padding: 0;
    border: none;
  }

  .signout-btn:hover {
    background: none;
  }

  .friends-btn {
    margin-left: 0;
    padding: 0;
    border: none;
  }

  .friends-btn:hover {
    background: none;
  }

  .d-flex {
    margin-bottom: 16px;
  }
  .notifs_nb{
    transform: translate(86px,-78px) !important;
  }
}


/* The Modal (background) */
.modal_user {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #664C8F;
  margin: auto;
  border-radius: 0.4rem;
  padding: 10px;
  width: 40%;
}

.modal-content > *{
  margin-top: 10px;
}

.modal-content ol li {
  color: white;
}

.modal-content p {
  width: auto;
  height: 90%;
  margin-bottom: 0;
  color: white;
}

.CommImg{
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-bottom: none;
  background: #fff;
  border-radius: 50% 50% 0 0;
  justify-content: center;
}

/* @media screen and (max-width: 991px){
  .CommImg{
    width: 6.5vw !important;
*/

/* .list-group-item{
    margin: 0.5rem 0 !important ;
} */
/*
  .list-title{
    font-size: 2.2vw !important;
  }
} */

.list-group-item-margin{
  padding: 0.8vw 0;
}

.list-bottom{
  color: #787878;
  height: 6rem !important;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .list-title{
  font-size: 1.2vw;
} */

.notif_content_div{
  display: flex;
  justify-content: space-between;
}

.notif_decesion_btn{
  text-decoration: none;
}

.notif_decesion_btn:last-child{
  margin-left: 10px;
}

.close{
  margin-top:15px;
  transition: all .3s ease-in-out;
  background: #664C8F;
}

.close:hover{
  border-radius: solid 2px #fff;
  color:#FFF;
  transition: all .3s ease-in-out;
}

.notif_content_div{
  background: #9575ba;
  border-radius: 0.375rem;
  padding: .3rem 1.5rem .3rem 1.5rem;
}
.notifs_nb{
  transform: translate(-117px, -2px);
  background: rgb(22, 114, 194);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.notif_basic{
  color: white;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
}
.notif_limit{
  color: white;
  text-align: center;
  line-height: 16px;
  font-size: 8px;
}
/* 
.group-name{
  margin-top: 1vw;
} */

#top {
  height: 100%; 
}

#right {
  position:absolute;
  left: 50%;
  right: 0;
  height: 100%;
  background: #f00;
  z-index: 0;
}

#right_content {
  position: absolute;
  left: 150px; /* half the width of #main */
}

#main {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 100%;
  background: #00f; 
  z-index: 1;    
}

.groupHeader{
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.userCount{
  position: absolute;
  right:1rem;
}

.groupChatName{
  float: center;
}

.streaks{
  position: absolute;
  left:1rem;
}

.dm{
  color:rgb(255, 255, 255);
  margin: 0.5rem 0;
}

.dm1{
  color: rgb(0,0,0);
  margin: 0.5rem 0;
}


.list-group-b {
  --bs-list-group-bg: rgb(9, 6, 6);
} 

.border-white{
 border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-bottom: 1px solid #e3e9f0a7 !important;

}
.border-black{
  border-right: 0;
   border-left: 0;
   border-radius: 0;
   border-bottom: 1px solid #12131395 !important;
 
 }

.pad ul{
  padding:0  !important;
}