@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  height: 100%;
}

p {
  margin-top: 1em;
}

.messageEnvoye {
  background-color: #a69bc7;
  border-color: #a69bc7;
  float: right;
}

.messageEnvoye:hover {
  background-color: #a69bc7;
  border-color: #a69bc7;
}

.messageEnvoye:focus {
  background-color: #a69bc7;
  border-color: #a69bc7;
}

.messageRecu {
  background-color: #d1d3d4;
  border-color: #d1d3d4;
}

.messageRecu:hover {
  background-color: #d1d3d4;
  border-color: #d1d3d4;
}

.messageRecu:focus {
  background-color: #d1d3d4;
  border-color: #d1d3d4;
}

.info:hover {
  border-color: #6c4b93;
}

.messageRecu.disabled,
.messageRecu:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.mt-5 {
  padding-bottom: 3rem;
}

/* The Modal (background) */
.modal_user {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #664c8f;
  margin: auto;
  padding: 10px;
  width: 40%;
  border-radius: var(--bs-navbar-toggler-border-radius);
}

.group_name {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.group_bio {
  color: #fff;
  font-style: italic;
  padding: 1rem;
}

.modal-content > * {
  margin-top: 5px;
}

.modal-content ol li {
  color: white;
}

.modal-content p {
  width: 90%;
  height: 90%;
  color: white;
}

.groupinfo_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #4f3774;
  text-align: center;
  border-radius: var(--bs-navbar-toggler-border-radius);
}

.usersinfo_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4f3774;
  text-align: center;
  padding: 15px;
  border-radius: var(--bs-navbar-toggler-border-radius);
}

#usersInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userInfo {
  width: 100%;
  height: 100%;
}

#usersInfo li {
  padding: 5px;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  color: black;
  width: 100%;
  margin-bottom: 2px;
}

.userinfo_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

/* The Close Button */
.modal_interaction {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
  background-color: #664c8f;
  transition: 0.1s transform ease-out;
}

.modal_interaction:hover,
.modal_interaction:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.delete_group,
.leave_group {
  color: #ff5b4f;
}

.delete_group:hover,
.leave_group:hover {
  color: #ff5b4f;
  text-decoration: none;
  cursor: pointer;
}

.user_info_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  width: 100%;
  background-color: #664c8f;
  margin: 5px 0;
  padding: 5px;
  color: #fff;
  border-radius: var(--bs-navbar-toggler-border-radius);
}

.user_info_page .user-email {
  margin: auto 5px;
  width: auto;
}

.user_delete_button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  transform-origin: center;
  color: #ff5b4f;
  transition: 0.1s transform ease-out;
}

.user_delete_button:hover {
  color: #ff5b4f;
}

.add_user {
  margin-left: 5px;
}
#smska {
  width: 800px;
  margin-right: 10px;
}
#foot-bl {
  display: flex;
  justify-content: center;
}
pre {
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
 
}
.comm_icon{
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
}
.start-container{
  width:20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-nav{
  margin-left: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container{
  width: 100%;
}

.navbar{
  width: 100%;
}

@media (max-width: 850px){
  .modal-content{
    width: 85% !important;
  }
}

.navbar-expand-lg {
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
}