
a{
  padding:0 12px;
}
html, body{
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.eye{
  width:25px;
  height:25px;
  margin:auto 6px auto 0; 
}
.alert-danger{
  margin-top: 10px;
}
body ::after {
  opacity: 0.5;
}
:root {
  --clr: #222327
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.icon-icon {
  position: relative;
  display: block;
  color: black;

}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}

.card-body{
  margin: 0.6vw 0;
  overflow: auto;
}

.navigation {
  padding:  0.5vh 1vw;
  /* height: 70px; */
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #6c757d;
}

.navigation ul {
  display: flex;
  justify-content: center;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.4s;
  color: var(--clr);
}

.navigation ul li.active a .icon {
  transform: translateY(-10px);
}

.navigation ul li.active {
  background-color: #d9d9d9;
  border-radius: 10px;
}

.navigation ul .active a .text {
  opacity: 1;
}

.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px)
}

.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(20px)
}
.indicator {
  position: absolute;
  top: -60%;
  width: 70px;
  height: 70px;
  background: rgb(131 52 139);
  border-radius: 50%;
  border: 4px solid #F8F9FA;
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position: absolute;
  top: 62%;
  left: -18px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #F8F9FA;
}

.indicator::after {
  content: '';
  position: absolute;
  top: 62%;
  right: -15px;
  height: 17px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 #F8F9FA;
}

.navigation ul li:nth-child(1).active~.indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
  transform: translateX(calc(70px * 3));
}

.logo {
    width: 35vw;
  }
.form-control, .fake-input{
  width: 95% !important;
  margin: 0 auto;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
@media  (min-width:1000px){
  .logo {
    width: 20vw !important;
  }
  .centered-card{width:50%;}
}
@media (max-width: 1000px)and (min-width:700px) {
  .imaj {
    display: none;
  }
  .centered-card{width:65%;}
  /* .logo {
    width: 36vw !important;
    height: 15vw !important;
  } */
}
@media (max-width:700px) and (min-width:555px){
  .form-text{
    font-size: 11px;
  }
  .form-label{
    font-size: 14px;
  }
  .card-body h5{
    margin-bottom: 0.3rem;
  }

 
  .card-body a{
    font-size: 15px;
  }
  .responsive-input{
    width:85%;
    margin: 0 auto;
  }
  .centered-card{
    width:70%;
  }
  
}
@media (max-width:555px) and (min-width:410px){
  
  .card-body span{
    font-size: 14px;
  }
  .card-body a{
    font-size: 14px;
  }
  .form-text{
    font-size: 10px;
  }
  .form-label{
    font-size: 13px;
  }
  .card-body h5{
    margin-bottom: 0.3rem;
  }
  .centered-card{width: 70%;}
  .responsive-input{
    width:90%;
    margin: 0 auto;
  }
  .eye{
    width:22px;
    height:22px;
    margin:auto 6px auto 0; 
  }
}
@media (max-width:410px){
  .card-body span{
    font-size: 13px;
  }
  .card-body a{
    font-size: 13px;
  }
  .form-text{
    font-size: 8px;
  }
  .form-label{
    font-size: 13px;
  }
  .card-body h5{
    margin-bottom: 0.3rem;
  }
  .centered-card{width: 80% !important;}
  .responsive-input{
    width:90%;
    margin: 0 auto;
  }
  .eye{
    width:19px;
    height:19px;
    margin:auto 6px auto 0; 
  }
}
@media screen and (max-width:1000px){
  .flex-container{
    flex-direction: column;
    justify-content: center;
  }
  .main-img{
    width: 50% !important;
    background-image: none !important;
    margin: 0 auto 3vw auto;
  }
  .indexbtn{
    font-size: 1.7vw !important;
    padding: .9vw 1.8vw .9vw 1.8vw !important;
  }
  .indexbtn:hover{
    padding: .9vw 3vw .9vw 1.8vw !important;
  }
  .indexbtn svg{
    width: 1vw;
    height: 1.5vw;
  }
  .indexlogo{
    height: 18vw !important;
    width: auto !important;
    content:url("../assets/images/logo_tuyu.png");
    /* width: auto !important; */
  }
  .main-buttons{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #indexheader{
    width: 50% !important;
  }
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

.zinzolin {
  color: rgb(108, 2, 119);
  background-color: transparent;
  border-color: rgb(108, 2, 119);
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url('../assets/images/themes/0.jpg');
  background-size: 10%;
}

.centered-card {
  position: relative;
}
/* 
.logo {
  width: 19.2vw;
  height: 8vw;
} */



.html {
  font-family: "Roboto", sans-serif;
}

.card {
  text-align: center;
  margin: auto;
}

.button-accueil {
  position: relative;
  transform: translateY(-1000)
}

.imaj {
  height: 100%;
  width: auto;
}

.flex-container {
  height: 100%;
  display: flex;
}

.eye {
  cursor: pointer;
  right: 8px;
}

.fake-input {
  position: relative;
  display: flex;
  
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.fake-input input {
  border: none;
  display: block;
  width: 100%;
  box-sizing: border-box;


}

.welcome{
  margin-top: 3%;
}

.wrap{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}


.main-img{
  width: 44%;
  background-image: url("../assets/images/fond_page_dacceuil.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.indexbtn {
  text-decoration: none;
  border-radius: 0.375rem;
	font-family: helvetica, san-serif;
	font-size: inherit;
	cursor: pointer;
	padding: 0.6vw 1.2vw;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
	font-weight: 300;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.indexbtn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-cta {
  background: white;
  border: 2px solid #6c4b93;
  border-radius: 0.375rem;
  color: #6c4b93;
  padding: .45vw .9vw .45vw .9vw;
  transition: all .3s ease-in-out;
}

.btn-cta:active {
	color: #9575ba;
}

.btn-cta:hover {
  padding: .45vw 1.5vw .45vw .9vw;
  background: #6c4b93;
  color: white;
  transition: all .3s ease-in-out;
}

.btn-cta svg {
  visibility: hidden; 
	position: absolute;
  left: 130%;
	top: 0;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #333;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-cta:active:before {
	color: #545454;
}

.btn-cta:hover svg {
  visibility: visible;
	left: 84%;
}
.indexlogo{
  position: relative;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#indexheader{
  width: 60%;
  margin: 0 auto;
}

.main-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons{
  margin-top: 2vw;
}
.submit-btn{
  background: none;
  border: 2px solid #6c4b93;
  border-radius: 0.375rem;
  color: #6c4b93;
  padding: .45vw;
  transition: all .3s ease-in-out;
}
.submit-btn:active{
  box-shadow: 0 0 0 0.25rem rgba(108, 2, 119, 0.4);
}
.submit-btn:hover{
  background: #6c4b93;
  color: white;
  transition: all .3s ease-in-out;
}
.signlink{
  color: #6c4b93; 
  transition: all .2s ease-in-out;
}
.signlink:hover{
  color: #9575ba;
  transition: all .2s ease-in-out;
}


.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g_id_signin {
  margin-bottom: 10px;
}

.friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.friends-container .row {
  margin: 0;
}

.profile-interactions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile-friend-status {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #4E4F50;
  color: #E4E6EA;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 2px;
}

/* .user-profile-friend-status img {
  -webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg);
} */

.user-profile-friend-status p {
  margin: 1px 4px 0 0;
}

.user-profile-status {
  display: inline-block;
  padding: 8px;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 2px;
  transition: background-color 0.2s;
}

.user-profile-status:hover {
  background-color: #ffffff;
}

.friends-active {
  border: 1px solid #23d300;
  background-color: #23d300;
}

.friends-active:hover {
  color: #23d300;
}

.friends-deactive{
  border: 1px solid #ff3434;
  background-color: #ff3434;
}

.friends-deactive:hover {
  color: #ff3434;
}

.friends-cancel{
  border: 1px solid #4E4F50;
  background-color: #4E4F50;
}

.friends-cancel:hover {
  color: #4E4F50;
}

.navigation-bar-themes {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-container{
  width: 100%;
  height: 100% ;
  padding: 30px ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
}

.add-friend-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #6c757d;
  border-radius: 0.375rem;
  padding: 10px;
}

ul {
  padding-inline-start: 0px;
}